*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #acbaba;
}
.clock{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.75), 
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -2px -2px 15px rgba(0, 0, 0, 0.2);
}
.counter{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin:  auto;
    background: #204664;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 20px #acbaba,
    inset 7px 7px 7px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255, 1);
}


.counter span{
    position: absolute;
    color: #fff;
    transform: rotate(calc(30deg * var(--i)));
    font-size: 1.2rem;
    text-align: center;
    inset: 15px;
}
.counter span b{
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    font-weight: bold;
}
.counter .hands{
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 15;
}
.counter .hands i{
    position: absolute;
    width: 5px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.9);
}
.counter::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#dc143c, #2196f3);
    inset: 40px;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.counter::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    background: #204664;
    inset: 45px;
} 
.counter .hands#minute i{
    width: 3px;
}
.counter .hands#second i{
    width: 1px;
}
.counter .hands#minute{
    width: 40%;
    height: 50%;
}
.counter .hands#hour{
    width: 18%;
    height: 30%;
}
.counter .hands::before{
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: var(--clr);
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
}
.digital{
    /* width: 50%; */
    padding: 20px 10px;
    border-radius: 10px;
    margin: 0px auto;
    background: #204664;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px #acbaba,
    inset 7px 7px 7px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255, 1);
}
.digital span{
    color: var(--clr);
    font-size: 2rem;
    font-weight: bolder;
    margin: 0 5PX;
}
@media screen and (max-width: 600px) {
    .counter{
        width: 300px;
        height: 300px; 
    }
    .digital{
        padding: 20px 10px;
       
    }
    .digital span{
        font-size: 1.5rem;
    }
}